<!-- <mat-tab-group dynamicHeight>
  <mat-tab label="Short tab">
    <div class="example-small-box mat-elevation-z4">
      Small content
    </div>
  </mat-tab>
  <mat-tab label="Long tab">
    <div class="example-large-box mat-elevation-z4">
      Large content
    </div>
  </mat-tab>
</mat-tab-group> -->


<!-- <nav mat-tab-nav-bar>
  <a mat-tab-link>menu1</a>
  <a mat-tab-link>menu2</a>
  <a mat-tab-link>menu3</a>
</nav> -->


<nav mat-tab-nav-bar>
    <a mat-tab-link
    *ngFor="let routeLink of routeLinks; let i = index;"
    [routerLink]="routeLink.link"
    [active]="activeLinkIndex === i"
    (click)="activeLinkIndex = i"
 >
     {{routeLink.label}}
 </a>
</nav>
<router-outlet></router-outlet>
